<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password reset</title>
</head>
<body>
    <h1> password resset</h1>
    <P> 
        <%= email %>
    </P>
    <form action="" method="POST">
        <input type="password" name="password">
        <input type="password" name="confirmpassword">
        <button type="submit"> reset password</button>


    </form>
    <a href="/login">login</a>
</body>
</html>